@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}


:root {
    --color-white: #fff;
    --color-bg: #A5D6A7;
    --color-bg2: #388E3B;
    --color-heading-p: #1B5E1F;
    --nav-text: #103E13;
    --hover-text: #66BB69;
    --hover-btn: #81C784;
    --button: #2E7D31;

    --container-width-lg: 80%;
    --container-width-md: 90%;
    --container-width-sm: 94%;

   --transition: all 400ms ease;
}

body {
    font-family: "Poppins", sans-serif;
    line-height: 1.7;
    color: var(--color-white);
    background: var(--color-bg);
}

.containers {
    width: var(--container-width-lg);
    margin: 0 auto;
}



.btn, .delete-btn {
    width: 100%;
    border-radius: 5px;
    padding: 10px 30px;
    color: #fff;
    display: block;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    margin-top: 10px;
}

.message {
    margin: 5px 0;
    width: 100%;
    border-radius: 5px;
    text-align: center;
    background-color: #ae2828;
    color: #fff;
    font-size: 17px;
}

.btn {
    background: var(--button);
}

.btn:hover {
    background: #103E13;
}

.delete-btn {
    background: #af2f2f;
    transition:  0.3s ease;
}

.delete-btn:hover {
    background: #661919;
}


.form-container {
    min-height: 100vh;
    background-color: var(--color-bg2);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.form-container form {
    padding: 30px;
    background-color: var(--color-white);
    box-shadow: 0 0 14px 0 rgba(0,0,0, 50%);
    text-align: center;
    width: 500px;
    border-radius: 5px;
}

.form-container form h3 {
    margin-bottom: 10px;
    font-size: 30px;
    color: #000;
    text-transform: uppercase;
}

.form-container form .box {
    width: 100%;
    border-radius: 5px;
    padding: 12px 14px;
    font-size: 18px;
    color: black;
    margin: 10px 0;
    background-color: #9b9b9b;
}

.form-container form p {
    margin-top: 15px;
    font-size: 15px;
    color: #000;
}

.form-container form a {
    color: #103E13;
}

.form-container form p a:hover {
    text-decoration: underline;
}

.container {
    min-height: 100vh;
    background-color: var(--color-bg2);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.container .profile {
    padding: 30px;
    background-color: var(--color-white);
    box-shadow: 0 0 14px 0 rgba(0,0,0, 50%);
    text-align: center;
    width: 400px;
    border-radius: 5px;
}

.container .profile img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 5px;
}

.container .profile h3 {
    margin: 5px 0;
    font-size: 20px;
    color: black;
}

.update-profile {
    min-height: 100vh;
    background-color: var(--color-bg2);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.update-profile form {
    padding: 30px;
    background-color: var(--color-white);
    box-shadow: 0 0 14px 0 rgba(0,0,0, 50%);
    text-align: center;
    width: 600px;
    text-align: center;
    border-radius: 5px;
}

.update-profile form img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 5px;
}

.update-profile form .flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 15px;
}

.inputBox {
    width: 49%;
}

 span {
    text-align: left;
    display: block;
    margin-top: 15px;
    font-size: 15px;
    color: #000;
}

.update-profile form .flex .inputBox .box {
    width: 100%;
    border-radius: 5px;
    background-color: #83b372;
    padding: 12px 14px;
    font-size: 17px;
    color: #000;
    margin-top: 10px;
}

