@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}


:root {
    --color-white: #fff;
    --color-bg: #A5D6A7;
    --color-bg2: #388E3B;
    --color-heading-p: #1B5E1F;
    --nav-text: #103E13;
    --hover-text: #66BB69;
    --hover-btn: #81C784;
    --button: #2E7D31;

    --container-width-lg: 80%;
    --container-width-md: 90%;
    --container-width-sm: 94%;

   --transition: all 400ms ease;
}

body {
    font-family: "Poppins", sans-serif;
    line-height: 1.7;
    color: var(--color-white);
    background: var(--color-bg);
}

.container {
    width: var(--container-width-lg);
    margin: 0 auto;
}

section {
    padding: 2rem 0;
}

section h2 {
    text-align: center;
    margin-bottom: 2rem;
}

h2, h3, h4 {
    line-height: 1.2;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.3rem;
}


a {
    color: var(--nav-text);
}

img {
    width: 100%;
    display: block;
    object-fit: cover;
}

.btn {
    display: inline-block;
    background: var(--button);
    color: var(--color-white);
    padding: 1rem 2rem;
    border: 1px solid transparent;
    font-weight: 500;
    transition: var(--transition);
}

.btn:hover {
    background: transparent;
    color: #103E13;
    background-color: var(--hover-btn);
}

.btn-primary {
    background: var(--button);
    color: var(--color-white);
    text-transform: uppercase;
}

/* ============ navbar ============ */

nav {
    background: #A5D6A7;
    width: 100vw;
    height: 4rem;
    position: fixed;
    top: 0;
    z-index: 11;
}

.nav-container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav button {
    display: none;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.nav-menu a {
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    transition: var(--transition);
}

.nav-menu a:hover {
    color: var(--hover-text);
}

/* ============ overview ============ */

header {
    position: relative;
    top: 5rem;
    overflow: hidden;
    height: 85vh;
    margin-bottom: 4rem;
}

.header-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 5rem;
    height: 100%;
}

.header-left h2 {
    text-transform: uppercase;
    color: #103E13;
    text-align: center;
}
.header-left p {
    margin: 1rem 0 2.4rem;
    color: #103E13;
    font-size: 18px;
    text-align: justify;

}

/* ============ goal ============ */

.goals {
    background: var(--color-bg2);
    height: 40rem;
}

.goals h2 {
    text-transform: uppercase;
    color: #103E13;
    text-align: center;
}

.goals-container {
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 3rem;
    align-items: center;
}

.goals-right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.goal {
    background: rgba(46, 125, 49, 0.8);
    padding: 2rem;
    border-radius: 2rem;
    transition: var(--transition);
}

.goal:hover {
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.goal-icon {
    background: #103E13;
    color: #fff;
    font-size: 1.5rem;
    padding: 0.7rem;
    border-radius: 0.9rem;
}

.goal p {
    margin: 1rem 0 1rem;
    font-size: 15px;
}


/* ============ developers ============ */

.developers {
    background: var(--color-bg);
    box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.5);
    padding-bottom: 5rem;
}

.developers h2 {
    text-transform: uppercase;
    color: #103E13;
    text-align: center;
}

.developers-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
}

.developer-team {
    background: rgba(56, 142, 59, 0.5);
    padding: 1.2rem;
    border: 1px solid transparent;
    border-radius: 1rem;
    transition: var(--transition);
}

.developer-team:hover {
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.developer-team-image img{
    border-radius: 2rem;
}

.developer-team-info  {
    text-align: center;
    color: var(--nav-text);
}

.developer-team-info h4 {
    padding-top: 1rem;
    font-size: 1.2rem;
}

.developer-team-info p {
    text-transform: uppercase;
    padding-top: 1rem;
}

@media screen and (max-width: 1024px) {
    .container {
        width: var(--container-width-md);
    }

    h2 {
        font-size: 2.5rem;
    }

    p {
        font-size: 1.2rem;
    }

    img {
        width: 25rem;
    }

    /* ============ NAV ============ */

    nav button{
        display: inline-block;
        background: transparent;
        font-size: 1.8rem;
        color: var(--nav-text);
        cursor: pointer;
    }

    nav button#close-menu-btn {
        display: none;
    }

    .nav-menu {
        position: fixed;
        top: 5rem;
        right: 5%;
        height: fit-content;
        width: 18rem;
        flex-direction: column;
        gap: 0;
        display: none;
    }

    .nav-menu li {
        width: 100%;
        height: 4rem;
    }

    .nav-menu li a {
        background: var(--color-bg);
        box-shadow: -4rem 6rem 10rem rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 100%;
        font-weight: 500;
        display: grid;
        place-items: center;
    }

    .nav-menu li a:hover {
        background: var(--hover-text);
        color: var(--nav-text);
        transition: var(--transition);
    }

   /* ============ HEADER ============ */

    header {
        height: 90vh;
        margin-bottom: 1rem;
   }

    .header-container {
        gap: 5;
        padding-bottom: 3rem;
        
   }

    .header-container h2 {
        font-size: 2rem;
    }

    .header-container p {
        font-size: 1rem;
    }

    .header-container img {
        width: 25rem;
    }

    /* ============ GOALS ============ */

    .goals {
        height: fit-content;
    }

    .goals-container {
        grid-template-columns: 1fr;
    }

    .goals-container h2 {
        font-size: 2rem;
        margin-bottom: -2rem;
    }

    .goals-container img {
        margin-left: 15rem;
    }

    /* ============ developers ============ */

    .developers {
        height: fit-content;
    }

    .developers h2 {
        font-size: 2rem;
    }

    .developer-team img {
        width: 100%;
    }

    .developer-team h4 {
        font-size: 1rem;
    }

    .developer-team p {
        font-size: 1rem;
    }
}