@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

:root {
    --color-white: #fff;
    --color-bg: #A5D6A7;
    --color-bg2: #388E3B;
    --color-heading-p: #1B5E1F;
    --nav-text: #103E13;
    --hover-text: #66BB69;
    --hover-btn: #81C784;
    --button: #2E7D31;

    --container-width-lg: 80%;
    --container-width-md: 90%;
    --container-width-sm: 94%;

   --transition: all 400ms ease;
}

h2, h3, h4 {
    line-height: 1.2;
}

h4 {
    font-size: 1.3rem;
}


a {
    color: var(--nav-text);
}

nav {
    background: #A5D6A7;
    width: 100vw;
    height: 4.5rem;
    position: fixed;
    top: 0;
    z-index: 11;
}

.nav-container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav button {
    display: none;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.nav-menu a {
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    transition: var(--transition);
}

.nav-menu a:hover {
    color: var(--hover-text);
}

body {
    font-family: "Poppins", sans-serif;
    line-height: 1.7;
    color: var(--color-white);
    background: var(--color-bg);
}

.container {
    max-width: 1000px;
    padding: 20px;
    margin: auto;
    align-items: center;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
}

.image-hotspot {
    width: 850px;
    margin: 65px auto 0 auto;
}

.image-hotspot img {
    max-width: 1200%;

    box-shadow: 0 0 14px 0 rgba(0,0,0, 50%);
}

.icon {
    width: 24px; 
    height: 24px;
    border-radius: 100%;
    border: 3px solid #fff;
    background: #339338;
    cursor: pointer;
}


.item {
    position: absolute;
    transform: translate(-50%, -50%);
}

.ptc{
    top: 50%;
    left: 22%;
}

.its {
    top: 48%;
    left: 27%;
}

.be {
    top: 34%;
    left: 34.5%;
}

.fvr {
    top: 53%;
    left: 37%;
}

.op{
    top: 59%;
    left: 30%;
}

.cma{
    top: 67%;
    left: 35.9%;
}

.north-hall{
    top: 88%;
    left: 45%;
}

.chs{
    top: 30%;
    left: 40.6%;
}

.gym{
    top: 31%;
    left: 50%;
}

.sp{
    top: 55%;
    left: 50%;
}

.mba-e{
    top: 20%;
    left: 60%;
}

.mba{
    top: 45%;
    left: 60%;
}

.tooltip {
    position: absolute;
    padding: 10px;
    width: 8em;
    height: 3em;
    background-color: #fff;
    color: #000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    line-height: 1.5rem;
    z-index: -1;
    pointer-events: none;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.1s linear;
    
}

.item:hover .tooltip {
    opacity: 1;
}

.tooltip h3 {
    font-size: 15px;
    margin-bottom: 10px;
    text-align: center;
}

.top .tooltip {
    left: calc(50% - 4rem);
    bottom: 40px;
}

.top .tooltip:after {
    color: #fff;
    position: absolute;
    content: "";
    bottom: -13px;
    border-top: 13px solid;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    left: calc(50% - 13px);
}

.bottom .tooltip {
    left: calc(50% - 4rem);
    top: 40px;
}

.bottom .tooltip:after {
    color: #fff;
    position: absolute;
    content: "";
    top: -13px;
    border-bottom: 13px solid;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    left: calc(50% - 13px);
}

@media screen and (max-width: 1024px) {
    .container {
        width: var(--container-width-md);
    }

    h2 {
        font-size: 2.5rem;
    }

    p {
        font-size: 1.2rem;
    }

    img {
        width: 25rem;
    }

    /* ============ header ============ */

    nav button{
        display: inline-block;
        background: transparent;
        font-size: 1.8rem;
        color: var(--nav-text);
        cursor: pointer;
    }

    nav button#close-menu-btn {
        display: none;
    }

    .nav-menu {
        position: fixed;
        top: 5rem;
        right: 5%;
        height: fit-content;
        width: 18rem;
        flex-direction: column;
        gap: 0;
        display: none;
    }

    .nav-menu li {
        width: 100%;
        height: 4rem;
    }

    .nav-menu li a {
        background: var(--color-bg);
        box-shadow: -4rem 6rem 10rem rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 100%;
        font-weight: 500;
        display: grid;
        place-items: center;
    }

    .nav-menu li a:hover {
        background: var(--hover-text);
        color: var(--nav-text);
        transition: var(--transition);
    }

}
