@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}


:root {
    --color-white: #fff;
    --color-bg: #A5D6A7;
    --color-heading-p: #1B5E1F;
    --nav-text: #103E13;
    --hover-text: #66BB69;
    --hover-btn: #81C784;
    --button: #2E7D31;

   --container-width-lg: 80%;
   --container-width-md: 90%;
   --container-width-sm: 94%;

   --transition: all 400ms ease;
}

body {
    font-family: "Poppins", sans-serif;
    line-height: 1.7;
    background: var(--color-bg);
}

.container {
    width: var(--container-width-lg);
    margin: 0px auto;
}

p {
    font-size: 1rem;
}

a {
    color: var(--nav-text);
}

img {
    width: 100%;
    display: block;
    object-fit: cover;
}


nav {
    background: #A5D6A7;
    width: 100vw;
    height: 4rem;
    position: fixed;
    top: 0;
    z-index: 11;
}

.nav-container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav button {
    display: none;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.nav-menu a {
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    transition: var(--transition);
}

.nav-menu a:hover {
    color: var(--hover-text);
}

/**ENROLLEMENT**/

.enrollments {
    position: relative;
    top: 5rem;
    overflow: hidden;
    height: auto;
    padding-bottom: 40px;
}

.enrollments h2{
    text-align: center;
    text-transform: uppercase;
}

.enrollments_container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    height: auto;
    margin-top: 20px;
    width: 70%;
}

.enrollments_box {
    background: #2e7d3165;
    border-radius: 10px;
    padding: 10px 20px;
    color: #fff;
}

.accordion{
    max-width: 97%;
    width: 100%;
    margin: 0 10px;
    padding: 10px;
    border-radius: 8px;
}

.accordion-content {
    border-radius: 4px;
    background: #66BB69;
    box-shadow: 0 0 4px rgba(0,0,0,0.2);
    margin-bottom: 3px;
    overflow: hidden;
}

.accordion-content.open {
    padding-bottom: 10px;
    max-height: 400px;
    height: auto;
}


.accordion-content header {
    display: flex;
    padding: 0 10px;
    min-height: 40px;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
    transition: all 0.2s linear;
}

.accordion-content.open header{
    min-height: 35px;
}

.accordion-content header .title {
    font-size: 20px;
    font-weight: 500;
    color: #333;
}

.accordion-content header i {
    font-size: 15px;
    color: #333;
    font-weight: 500;
}

.accordion-content .description {
    max-height: 0; /* Change height to max-height */
    overflow: hidden; /* Hide overflow */
    font-size: 14px;
    color: #333;
    font-weight: 400;
    padding: 0 10px;
    cursor: pointer;
    transition: max-height 0.10s ease-in;
}

.accordion-content.open .description {
    max-height: 500px; /* Set to the desired max height */
}

/**PROCEDURES**/

.procedures {
    position: relative;
    top: 5rem;
    overflow: hidden;
    height: auto;
    padding-bottom: 40px;
}

.procedures h2{
    text-align: center;
    text-transform: uppercase;
}

.procedures_container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    height: auto;
    margin-top: 20px;
    width: 70%;
}

.procedures_box {
    background: #2e7d3165;
    border-radius: 10px;
    padding: 10px 20px;
    color: #fff;
}

.accordion{
    max-width: 97%;
    width: 100%;
    margin: 0 10px;
    padding: 10px;
    border-radius: 8px;
}

.accordion-content {
    border-radius: 4px;
    background: #66BB69;
    box-shadow: 0 0 4px rgba(0,0,0,0.2);
    margin-bottom: 3px;
    overflow: hidden;
}

.accordion-content.open {
    padding-bottom: 10px;
    max-height: 400px;
    height: auto;
}


.accordion-content header {
    display: flex;
    padding: 0 10px;
    min-height: 40px;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
    transition: all 0.2s linear;
}

.accordion-content.open header{
    min-height: 35px;
}

.accordion-content header .title {
    font-size: 20px;
    font-weight: 500;
    color: #333;
}

.accordion-content header i {
    font-size: 15px;
    color: #333;
    font-weight: 500;
}

.accordion-content .description {
    max-height: 0; /* Change height to max-height */
    overflow: hidden; /* Hide overflow */
    font-size: 14px;
    color: #333;
    font-weight: 400;
    padding: 0 10px;
    cursor: pointer;
    transition: max-height 0.10s ease-in;
}

.accordion-content.open .description {
    max-height: 500px; /* Set to the desired max height */
}

/**Scholarships**/

.internal {
    position: relative;
    top: 5rem;
    overflow: hidden;
    height: auto;
    padding-bottom: 40px;
}

.internal h2{
    text-align: center;
    text-transform: uppercase;
}

.internal_container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    height: auto;
    margin-top: 20px;
    width: 70%;
}

.services_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    height: auto;
    margin-top: 20px;
    width: 70%;
}

.information-box {
    background: #2e7d3165;
    border-radius: 10px;
    padding: 10px 20px;
    color: #103E13;
    justify-content: center;
}
.information-box p {
    text-align: justify;
}

.guidelines_container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    height: auto;
    margin-top: 20px;
    width: 50%;
}

.internal_box {
    background: #2e7d3165;
    border-radius: 10px;
    padding: 10px 20px;
    color: #fff;
}

.accordion{
    max-width: 97%;
    width: 100%;
    margin: 0 10px;
    padding: 10px;
    border-radius: 8px;
}

.accordion-content {
    border-radius: 4px;
    background: #66BB69;
    box-shadow: 0 0 4px rgba(0,0,0,0.2);
    margin-bottom: 3px;
    overflow: hidden;
}

.accordion-content.open {
    padding-bottom: 10px;
    max-height: 400px;
    height: auto;
}


.accordion-content header {
    display: flex;
    padding: 0 10px;
    min-height: 40px;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
    transition: all 0.2s linear;
}

.accordion-content.open header{
    min-height: 35px;
}

.accordion-content header .title {
    font-size: 20px;
    font-weight: 500;
    color: #333;
}

.accordion-content header i {
    font-size: 15px;
    color: #333;
    font-weight: 500;
}

.accordion-content .description {
    max-height: 0; /* Change height to max-height */
    overflow: hidden; /* Hide overflow */
    font-size: 14px;
    color: #333;
    text-align: justify;
    font-weight: 400;
    padding: 0 10px;
    cursor: pointer;
    transition: max-height 0.10s ease-in;
}

.accordion-content.open .description {
    max-height: 1000px; /* Set to the desired max height */
}

.external {
    position: relative;
    top: 5rem;
    overflow: hidden;
    height: auto;
    padding-bottom: 40px;
}

.external h2{
    text-align: center;
    text-transform: uppercase;
}

.external_container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    height: auto;
    margin-top: 20px;
    width: 70%;
}

.external_box {
    background: #2e7d3165;
    border-radius: 10px;
    padding: 10px 20px;
    color: #fff;
}

.accordion{
    max-width: 97%;
    width: 100%;
    margin: 0 10px;
    padding: 10px;
    border-radius: 8px;
}

.accordion-content {
    border-radius: 4px;
    background: #66BB69;
    box-shadow: 0 0 4px rgba(0,0,0,0.2);
    margin-bottom: 3px;
    overflow: hidden;
}

.accordion-content.open {
    padding-bottom: 10px;
    max-height: 400px;
    height: auto;
}


.accordion-content header {
    display: flex;
    padding: 0 10px;
    min-height: 40px;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
    transition: all 0.2s linear;
}

.accordion-content.open header{
    min-height: 35px;
}

.accordion-content header .title {
    font-size: 20px;
    font-weight: 500;
    color: #333;
}

.accordion-content header i {
    font-size: 15px;
    color: #333;
    font-weight: 500;
}

.accordion-content .description {
    max-height: 0; /* Change height to max-height */
    overflow: hidden; /* Hide overflow */
    font-size: 14px;
    color: #333;
    text-align: justify;
    font-weight: 400;
    padding: 0 10px;
    cursor: pointer;
    transition: max-height 0.10s ease-in;
}

.accordion-content.open .description {
    max-height: 1000px; /* Set to the desired max height */
}

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: #fff;
}

@media screen and (max-width: 1024px) {
    .container {
        width: var(--container-width-md);
    }

    h2 {
        font-size: 2.5rem;
    }

    p {
        font-size: 1.2rem;
    }

    img {
        width: 25rem;
    }

    /* ============ header ============ */

    nav button{
        display: inline-block;
        background: transparent;
        font-size: 1.8rem;
        color: var(--nav-text);
        cursor: pointer;
    }

    nav button#close-menu-btn {
        display: none;
    }

    .nav-menu {
        position: fixed;
        top: 5rem;
        right: 5%;
        height: fit-content;
        width: 18rem;
        flex-direction: column;
        gap: 0;
        display: none;
    }

    .nav-menu li {
        width: 100%;
        height: 4rem;
    }

    .nav-menu li a {
        background: var(--color-bg);
        box-shadow: -4rem 6rem 10rem rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 100%;
        font-weight: 500;
        display: grid;
        place-items: center;
    }

    .nav-menu li a:hover {
        background: var(--hover-text);
        color: var(--nav-text);
        transition: var(--transition);
    }

}