@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}


:root {
    --color-white: #fff;
    --color-bg: #A5D6A7;
    --color-bg2: #388E3B;
    --color-heading-p: #1B5E1F;
    --nav-text: #103E13;
    --hover-text: #66BB69;
    --hover-btn: #81C784;
    --button: #2E7D31;

    --container-width-lg: 80%;
    --container-width-md: 90%;
    --container-width-sm: 94%;

   --transition: all 400ms ease;
}

.reservation-form {
    min-height: 100vh;
    background-color: var(--color-bg2);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.reservation-form form {
    padding: 30px;
    background-color: var(--color-white);
    box-shadow: 0 0 14px 0 rgba(0,0,0, 50%);
    text-align: center;
    width: 700px;
    border-radius: 5px;
}

.reservation-form form h2 {
    font-size: 2rem;
    color: var(--nav-text);
    text-transform: uppercase;
}

.reservation-form form .flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 15px;
}

.inputBox {
    width: 90%;
}


label {
    text-align: left;
    display: block;
    margin-top: 5px;
    font-size: 16px;
    color: var(--nav-text);
}


.box {
    width: 100%;
    border-radius: 5px;
    background-color: #9bd696;
    padding: 12px 14px;
    font-size: 17px;
    color: #000;
    margin-top: 10px;
    transition: .3s ease;
}

.btn, .delete-btn {
    width: 100%;
    border-radius: 5px;
    padding: 10px 30px;
    color: #fff;
    display: block;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    margin-top: 10px;
}

.btn {
    background: var(--button);
}

.btn:hover {
    background: #103E13;
}

.delete-btn {
    background: #af2f2f;
    transition:  0.3s ease;
}

.delete-btn:hover {
    background: #661919;
}

.confirmation {
    min-height: 100vh;
    background-color: var(--color-bg2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.confirmation h2 {
    text-transform: uppercase;
}

.confirmation .flex {
    padding: 30px;
    background-color: var(--color-white);
    box-shadow: 0 0 14px 0 rgba(0,0,0, 50%);
    text-align: center;
    width: 500px;
    border-radius: 5px;
}
