@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}


:root {
    --color-white: #fff;
    --color-bg: #A5D6A7;
    --color-bg2: #388E3B;
    --color-heading-p: #1B5E1F;
    --nav-text: #103E13;
    --hover-text: #66BB69;
    --hover-btn: #81C784;
    --button: #2E7D31;

    --container-width-lg: 80%;
    --container-width-md: 90%;
    --container-width-sm: 94%;

   --transition: all 400ms ease;
}

body {
    font-family: "Poppins", sans-serif;
    line-height: 1.7;
    color: var(--color-white);
    background: var(--color-bg);
}

.container {
    width: var(--container-width-lg);
    margin: 0 auto;
}

section {
    padding: 2rem 0;
}

section h2 {
    text-align: center;
    margin-bottom: 2rem;
}

h2, h3, h4 {
    line-height: 1.2;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.3rem;
}

a {
    color: var(--nav-text);
}



/* ============ navbar ============ */

nav {
    background: #A5D6A7;
    width: 100vw;
    height: 4.5rem;
    position: fixed;
    top: 0;
    z-index: 11;
}

.nav-container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav button {
    display: none;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.nav-menu a {
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    transition: var(--transition);
}

.nav-menu a:hover {
    color: var(--hover-text);
}


.building-info {
    background: var(--color-bg);
    height: 40rem;
}

.building-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 5rem;
    height: 100%;
}

.building-right h2{
    text-transform: uppercase;
    color: #103E13;
    text-align: center;
}

.building-right p {
    margin: 1rem 0 2.4rem;
    color: #103E13;
    font-size: 18px;
    text-align: justify;
}

/*---- slider ----*/

.slider {
    width: 600px;
    margin-top: 50px;
    border-radius: 10px;
    overflow: hidden;
}

.slider img {
    width: 100%;
    height: 100%;
}

.slides {
    width: 500%;
    height: 100%;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.navigation-manual {
    position: absolute;
    width: 70%;
    margin-top: -40px;
    display: flex;
    margin-left: 16rem;
}

.manual-btn {
    border: 2px solid var(--hover-btn);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 10px;
}

.manual-btn:hover {
    background: var(--hover-btn);
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -20%;
}

#radio3:checked ~ .first {
    margin-left: -40%;
}

#radio4:checked ~ .first {
    margin-left: -60%;
}

#radio5:checked ~ .first {
    margin-left: -80%;
}

/*---css for automatic slide navigation---*/

.navigation-auto {
    position: absolute;
    display: none;
    width: 70%;
    justify-content: center;
    margin-top: 415px;
}

.navigation-auto div {
    border: 2px solid var(--hover-btn);
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .audio.btn1 {
    background: var(--hover-btn);
}

#radio2:checked ~ .navigation-auto .audio.btn2 {
    background: var(--hover-btn);
}

#radio3:checked ~ .navigation-auto .audio.btn3 {
    background: var(--hover-btn);
}

#radio4:checked ~ .navigation-auto .audio.btn4 {
    background: var(--hover-btn);
}

#radio5:checked ~ .navigation-auto .audio.btn4 {
    background: var(--hover-btn);
}

/*tabs section*/

.building-parts {
    background: var(--color-bg2);
}

.container-parts {
    margin: auto;
    width: 1000px;
    background-color: #377e28;
    padding: 30px;
    box-shadow: 0 2px 16px rgba(0 ,0 , 0, .1);
    border-radius: 20px;
}

.tab-box {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid rgba(299, 299, 299);
    position: relative;
}

.tab-box .tab_btn {
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    background: none;
    border: none;
    padding: 18px;
    cursor: pointer;
}

.tab-box .tab_btn.active {
    color: #103E13;
}

.content_box {
    padding: 20px;
}

.content-right img{
    width: 450px;
    border-radius: 10px;
}


.content_box .content {
    margin: 1% auto;
    display: none;
    animation: moving .5s ease;
}

.flex {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 2% auto;
}

.content-left {
    flex-basis: 50%;
    margin-right: 20px;
}

.content-left p{
    text-align: justify;
}

.content-left h2{
    font-size: 2rem;
}

.content-right {
    flex-basis: 50%;
}
@keyframes moving {
    from{transform: translateX(50px);opacity: 0;}
    to{transform: translateX(0px);opacity: 1;}
}

.content_box .content.active {
    display: block;
}

.content_box .content h2 {
    margin-bottom: 10px;
}

